*.png
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.pdf
old/Figure_1.ipynb
old/Figure_2.ipynb
old/Figure_3.ipynb
old/Figure_4.ipynb
old/Figure_5.ipynb
old/Figure_6.ipynb
old/Figure_7.ipynb
old/Figure_8.ipynb
old/Figure_A1.ipynb
main.pdf
old/.DS_Store
.gitignore
.DS_Store
main.pdf
response_to_reviewers.fdb_latexmk
response_to_reviewers.aux
response_to_reviewers.fls
response_to_reviewers.log
response_to_reviewers.out
.gitignore
diff.aux
diff.fls
diff.log
diff.synctex.gz
diff.fdb_latexmk
